/* Geral */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  color: black;
}

ul,
li a {
  list-style: none;
  text-decoration: none;
}

/* animations */

@keyframes Fade {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0.6deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes Fade2 {
  0% {
    transform: translatex(initial)
  }

  50% {
    transform: translatex(-1.5px)
  }

  100% {
    transform: translatex(initial)
  }
}

@keyframes Fade3 {
  0% {
    transform: translateX(initial)
  }

  50% {
    transform: translateX(0.005px)
  }

  100% {
    transform: translateX(initial)
  }
}

@keyframes pulsar {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes pulse {
  10% {
    transform: scale(1.1)
  }
}

@keyframes pulsecolor {
  10% {
    background: #dd0000
  }
}

rect.rouded {
  animation: Fade2 1s infinite
}

.pulse {
  animation: pulsar ease-in-out 1s infinite
}

path.rotate {

  animation: Fade 1s infinite
}

path.rotate2 {

  animation: Fade2 1s infinite
}

/* details */

.square-detail:before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 3px solid #DEC8CB;
  margin-right: 10px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.active-button {
  border: 1px solid #E38898;
  color: #E38898;
  scale: 1.1;
  transition: 0.5s
}

.project-image{
  height: 300px;
  width: 450px;
}

.pulse {
  color: red
}

/* animascroll */

.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
}

.js-scroll.ativo {
  opacity: 1;
  transition: 0.3s;
  transform: translate3d(0, 0, 0);
}

/* menu hamburguer */

.mobile-container {
  display: none;
}

.nav-bar {
  display: block;
  transition: 1s;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    display: none;
  }

  .mobile-container {
    display: block
  }

  .mobile-container {
    text-align: center;
    width: 150px;
    margin-top: 375px;
    background-color: #57534e;
    color: white;
    font-family: 'Playfair Display', serif;
    transition: 1s;
  }

  #myLinks {
    display: block;
    transition: 1s;
  }

  .topnav {
    overflow: hidden;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    display: block;
  }

  a.icon {
    display: block;
    position: fixed;
    right: 25px;
    top: 6px;
  }

  .topnav a.iconhover:hover {
    background-color: #DEC8CB;
    color: black;
    transition: 0.5s;
  }
}