html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  color: black;

}

ul,
li a {
  list-style: none;
  text-decoration: none;
}

@keyframes Fade {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0.6deg);
  }

  100% {
    transform: rotate(0deg);
  }

}

@keyframes Fade2 {
  0% {
    transform: translatex(initial)
  }

  50% {
    transform: translatex(-1.5px)
  }

  100% {
    transform: translatex(initial)
  }
}

@keyframes Fade3 {
  0% {
    transform: translateX(initial)
  }

  50% {
    transform: translateX(0.005px)
  }

  100% {
    transform: translateX(initial)
  }
}

@keyframes pulsar {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }

}

rect.rouded {
  animation: Fade2 1s infinite
}

.pulse {
  animation: pulsar ease-in-out 1s infinite
}

path.rotate {

  animation: Fade 1s infinite
}

path.rotate2 {

  animation: Fade2 1s infinite
}

.square-detail:before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 3px solid #DEC8CB;
  margin-right: 10px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.active-button {
  border: 1px solid #E38898;
  color: #E38898;
  scale: 1.1;
  transition: 0.5s
}

.pulse {
  color: red
}

#wrapper {
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
  animation: pulse 1s infinite;
}


#pulsingheart {
  position: relative;
  width: 100px;
  height: 90px;
}

#pulsingheart:before,
#pulsingheart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #aa0000;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  animation: pulsecolor 1s infinite;
}

#pulsingheart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  animation: pulsecolor 1s infinite;
}

@keyframes pulse {
  10% {
    transform: scale(1.1)
  }
}

@keyframes pulsecolor {
  10% {
    background: #dd0000
  }
}

/* .hidden {
  animate__fadeInUp
  transition: 5s;
} */